@import '../../styles/variables';

.login {
    &__main {
        width: 100%;
        height: 100vh;
        background-color: $login-bg-color;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 320px;
        width: 100%;
        position: relative;

        &__logo {
            img {
                width: 160px;
            }
        }

        &__image {
            position: absolute;
            max-width: 300px;
            top: 50%;
            transform: translateY(-50%);
            left: -140%;

            img {
                width: 100%;
            }
        }

        &__form {
            width: 100%;

            &__label {
                color: white;
                font-size: 18px;
                line-height: 1.5em;
                margin-left: 0.4em;
            }

            &__input {
                position: relative;
                color: white;
                width: 100%;
                height: 45px;
                display: flex;
                align-items: center;
                margin-top: 2px;
                margin-bottom: 13px;

                &__icon {
                    position: absolute;
                    z-index: 1;
                    left: 10px;
                }

                input {
                    font-size: 19px;
                    position: absolute;
                    border: none;
                    background: #049494;
                    border-radius: 9px;
                    color: white;
                    width: 100%;
                    height: 45px;
                    padding: 5px 45px;
                    outline: 0;

                    &::placeholder {
                        color: white;
                        font-size: 17px;
                    }
                }
            }

            &__forgetPassword {
                text-align: right;
                width: 98%;
                
                a {
                    font-size: 17px;
                    color: white;
                    text-decoration: none;
                    cursor: pointer;
                }
            }

            &__button {
                border: none;
                background: #049494;
                border-radius: 9px;
                color: white;
                width: 100%;
                height: 45px;
                margin-top: 5px;
                cursor: pointer;
                font-size: 22px;
            }

            &__createAcount {
                text-align: center;
                font-size: 11px;
                color: white;
                text-decoration: none;
                margin-top: 8px;

                a {
                    font-size: 15px;
                    color: white;
                    text-decoration: none;
                    cursor: pointer;
                }
            }
        }
    }
}