.metrics_section {

    font-family: 'Inter', sans-serif;

    display: flex;

    flex-direction: column;

    align-items: center;
    justify-content: flex-start;

    width: 100%;

    /* border: 1px solid red; */
    overflow-y: auto;

}

.metrics_section header .title {
    grid-column-start: 1;
    grid-column-end: 3;
    height: min-content;
    display: flex;
    flex-wrap: wrap;
}

.metrics_section header .title h1 {
    text-align: start;
    align-self: flex-start;
    color: #043434;
}

.metrics_content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 16px;
    gap: 1%;
    row-gap: 24px;
    overflow-x: auto;
    overflow-y: visible;
}


.metrics_content::-webkit-scrollbar,
.metrics_content::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 10px;
    height: 7px;
}

.metrics_content::-webkit-scrollbar {
    background-color: #cecece;
}j

.metrics_content::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
}

.metrics_content_box {
    min-width: 450px !important;
}

@media screen and (max-width: 1124px) {

    .metrics_content {
        overflow-y: scroll;
    }

    .metrics_content_box {
        width: 100% !important;
    }
}